h3,
h4,
h5 {
    color: #f0631c;
}

a {
    color: #f0631c;
}

a:hover {
    color: #f27334;
}

a:active {
    color: #e3560f;
}

.alternative-font {
    color: #f0631c;
}

p.drop-caps:first-child:first-letter {
    color: #f0631c;
}

p.drop-caps.secundary:first-child:first-letter {
    background-color: #f0631c;
}

ul.nav-pills > li.active > a {
    background-color: #f0631c;
}

ul.nav-pills > li.active > a:hover,
ul.nav-pills > li.active > a:focus {
    background-color: #f0631c;
}

.sort-source-wrapper .nav > li.active > a {
    color: #f0631c;
}

.sort-source-wrapper .nav > li.active > a:hover,
.sort-source-wrapper .nav > li.active > a:focus {
    color: #f0631c;
}
/* Labels */
.label-primary {
    background-color: #f0631c;
}

.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #f0631c;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #f0631c;
    border-color: #f0631c;
}

body.dark .pagination > li > a,
body.dark .pagination > li > span,
body.dark .pagination > li > a:hover,
body.dark .pagination > li > span:hover,
body.dark .pagination > li > a:focus,
body.dark .pagination > li > span:focus {
    color: #f0631c;
}

body.dark .pagination > .active > a,
body.dark .pagination > .active > span,
body.dark .pagination > .active > a:hover,
body.dark .pagination > .active > span:hover,
body.dark .pagination > .active > a:focus,
body.dark .pagination > .active > span:focus {
    background-color: #f0631c;
    border-color: #f0631c;
}

.btn-primary,
.pagination > .active > a,
body.dark .pagination > .active > a,
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    border-color: #f0631c !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #f0631c;
    border-color: #f0631c;
}

.btn-primary:hover,
.pagination > .active > a:hover,
body.dark .pagination > .active > a:hover,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
    border-color: #f27334;
    background-color: #f27334;
}

.btn-primary:active,
.pagination > .active > a:active,
body.dark .pagination > .active > a:active,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:active,
.btn-primary:focus,
.pagination > .active > a:focus,
body.dark .pagination > .active > a:focus,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
    border-color: #e3560f;
    background-color: #e3560f;
}

.progress-bar-primary {
    background-color: #f0631c;
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #47a447;
    border-color: #47a447;
}

.btn-success:hover {
    border-color: #51b451;
    background-color: #51b451;
}

.btn-success:active,
.btn-success:focus {
    border-color: #3f923f;
    background-color: #3f923f;
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ed9c28;
    border-color: #ed9c28;
}

.btn-warning:hover {
    border-color: #efa740;
    background-color: #efa740;
}

.btn-warning:active,
.btn-warning:focus {
    border-color: #e89113;
    background-color: #e89113;
}

.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #d2322d;
    border-color: #d2322d;
}

.btn-danger:hover {
    border-color: #d64742;
    background-color: #d64742;
}

.btn-danger:active,
.btn-danger:focus {
    border-color: #bd2d29;
    background-color: #bd2d29;
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:hover {
    border-color: #70c8e2;
    background-color: #70c8e2;
}

.btn-info:active,
.btn-info:focus {
    border-color: #46b8da;
    background-color: #46b8da;
}

.btn-dark {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #171717;
    border-color: #171717;
}

.btn-dark:hover {
    border-color: #242424;
    background-color: #242424;
}

.btn-dark:active,
.btn-dark:focus {
    border-color: #0a0a0a;
    background-color: #0a0a0a;
}

section.highlight {
    background-color: #f0631c !important;
    border-color: #e3560f !important;
}

section.page-top h1 {
    border-bottom-color: #f0631c;
}

section.toggle label {
    color: #f0631c;
    border-left-color: #f0631c;
    border-right-color: #f0631c;
}

section.toggle.active > label {
    background-color: #f0631c;
    border-color: #f0631c;
    color: #FFF;
}

section.page-top.custom-product {
    background-color: #e3560f;
    border-top-color: #ef5c12;
}

.feature-box .feature-box-icon {
    background-color: #f0631c;
}

.feature-box.secundary .feature-box-icon i.fa {
    color: #f0631c;
}

.thumb-info .thumb-info-type {
    background-color: #f0631c;
}

.thumb-info .thumb-info-action-icon {
    background-color: #f0631c;
}

.thumb-info-social-icons a {
    background-color: #f0631c;
}

.thumbnail .zoom {
    background-color: #f0631c;
}

.img-thumbnail .zoom {
    background-color: #f0631c;
}

.inverted {
    background-color: #f0631c;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #df540f;
}

.tabs ul.nav-tabs a,
.tabs ul.nav-tabs a:hover {
    color: #f0631c;
}

.tabs ul.nav-tabs a:hover,
.tabs ul.nav-tabs a:focus {
    border-top-color: #f0631c;
}

.tabs ul.nav-tabs li.active a {
    border-top-color: #f0631c;
    color: #f0631c;
}

.tabs ul.nav-tabs.nav-justified a:hover,
.tabs ul.nav-tabs.nav-justified a:focus {
    border-top-color: #f0631c;
}

.tabs.tabs-bottom ul.nav-tabs li a:hover,
.tabs.tabs-bottom ul.nav-tabs li.active a,
.tabs.tabs-bottom ul.nav-tabs li.active a:hover,
.tabs.tabs-bottom ul.nav-tabs li.active a:focus {
    border-bottom-color: #f0631c;
}

.tabs.tabs-vertical.tabs-left ul.nav-tabs li a:hover,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:hover,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:focus {
    border-left-color: #f0631c;
}

.tabs.tabs-vertical.tabs-right ul.nav-tabs li a:hover,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:hover,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:focus {
    border-right-color: #f0631c;
}

ul.list.icons li i {
    color: #f0631c;
}

i.icon-featured {
    background-color: #f0631c;
}

.parallax blockquote i.fa-quote-left {
    color: #f0631c;
}

section.video blockquote i.fa-quote-left {
    color: #f0631c;
}

.panel-group .panel-heading a {
    color: #f0631c;
}

.panel-group.secundary .panel-heading {
    background-color: #f0631c !important;
}

#header nav ul.nav-main ul.dropdown-menu,
#header nav ul.nav-main li.dropdown.open .dropdown-toggle,
#header nav ul.nav-main li.active a,
#header nav ul.nav-main li > a:hover,
#header nav ul.nav-main li.dropdown:hover a {
    color: #FFF;
    background-color: #f0631c !important;
}

#header nav ul.nav-main ul.dropdown-menu li:hover > a {
    background-color: #f3844c !important;
}

#header nav ul.nav-main ul.dropdown-menu {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #f0631c;
    border-color: #f0631c;
}

#header nav ul.nav-main ul.dropdown-menu:hover {
    border-color: #f27334;
    background-color: #f27334;
}

#header nav ul.nav-main ul.dropdown-menu:active,
#header nav ul.nav-main ul.dropdown-menu:focus {
    border-color: #e3560f;
    background-color: #e3560f;
}

#header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a {
    background: none !important;
}

#header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
    background: #f27334 !important;
}

@media (min-width: 992px) {
    #header.single-menu nav ul.nav-main li.active > a {
        border-top: 5px solid #f0631c;
    }

    #header.darken-top-border {
        border-top: 5px solid #e3560f !important;
    }

    #header.colored .header-top {
        background-color: #f0631c;
    }

    #header.colored .header-top ul.nav-top li a:hover {
        background-color: #f27334 !important;
    }

    #header.flat-menu nav ul.nav-main li > a,
    #header.flat-menu nav ul.nav-main li.active > a {
        color: #666;
    }

    #header.flat-menu nav ul.nav-main li.active > a {
        color: #f0631c;
        background-color: transparent !important;
    }

    #header.flat-menu nav ul.nav-main li > a:hover,
    #header.flat-menu nav ul.nav-main li.dropdown:hover a {
        color: #FFF;
        background-color: #f0631c !important;
    }

    #header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
        border-top-color: #f0631c;
    }
}

blockquote.testimonial {
    background: #f27334;
}

.testimonial-arrow-down {
    border-top-color: #f27334;
}

.featured-box-secundary i.icon-featured {
    background-color: #f0631c;
}

.featured-box-secundary h4 {
    color: #f0631c;
}

.featured-box-secundary .box-content {
    border-top-color: #f0631c;
}

.pricing-table .most-popular {
    border-color: #f0631c;
}

.pricing-table .most-popular h3 {
    background-color: #f0631c;
}

section.timeline .timeline-box.left:before,
section.timeline .timeline-box.right:before {
    background: #f0631c;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #f0631c;
}

ul.history li .featured-box .box-content {
    border-top-color: #f0631c;
}

.recent-posts .date .month,
article.post .post-date .month {
    background-color: #f0631c;
}

.recent-posts .date .day,
article.post .post-date .day {
    color: #f0631c;
}

.slider .tp-bannertimer {
    background-color: #f0631c;
}

.home-intro p em {
    color: #f3844c;
}

.home-concept strong {
    color: #f0631c;
}

.shop ul.products li.product .onsale {
    background-color: #f0631c;
    border-bottom-color: #d5510e;
}

.shop .star-rating span,
.shop .cart-totals tr.total .amount {
    color: #f0631c;
}

#footer .footer-ribbon {
    background: #f0631c;
}

#footer .footer-ribbon:before {
    border-right-color: #b4440c;
    border-left-color: #b4440c;
}

#footer.light h1,
#footer.light h2,
#footer.light h3,
#footer.light h4,
#footer.light a {
    color: #f0631c !important;
}

#footer.color {
    background: #f0631c;
    border-top-color: #f0631c;
}

#footer.color .footer-ribbon {
    background: #cc4d0d;
}

#footer.color .footer-ribbon:before {
    border-right-color: #843209;
}

#footer.color .footer-copyright {
    background: #e3560f;
    border-top-color: #e3560f;
}

html.boxed .body {
    border-top-color: #f0631c;
}

html[dir="rtl"] .tabs.tabs-vertical.tabs-left ul.nav-tabs li a:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a,
html[dir="rtl"] .tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:focus {
    border-right-color: #f0631c;
    border-left-color: transparent;
}

html[dir="rtl"] .tabs.tabs-vertical.tabs-right ul.nav-tabs li a:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a,
html[dir="rtl"] .tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:focus {
    border-right-color: transparent;
    border-left-color: #f0631c;
}
