



html .wizard-progress,
html.dark .wizard-progress {
    margin: 0 15px;
}

html .wizard-progress .steps-progress,
html.dark .wizard-progress .steps-progress {
    height: 2px;
    margin: 0 38px;
    position: relative;
    top: 15px;
    background: #cccccc;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
    height: 100%;
    width: 0;
    background: #cccccc;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

html .wizard-progress .wizard-steps,
html.dark .wizard-progress .wizard-steps {
    list-style: none;
    margin: 0;
    padding: 15px 0 0;
    display: inline-block;
    width: 100%;
    font-size: 0;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    /* IE8+ */;
}

html .wizard-progress .wizard-steps:after,
html.dark .wizard-progress .wizard-steps:after {
    /*
	* We don't need IE6 and IE7 inline-block hack support here
	* since they don't support :after anyways (the text-justify
	* properties for them are above)... IE8 and above have native
	* inline-block support so for IE8+, both the text-justify and
	* :after will take effect but it doesn't have any negative
	* effects since this element is invisible
	*/
    display: inline-block;
    width: 100%;
    content: '.';
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html .wizard-progress .wizard-steps li,
html.dark .wizard-progress .wizard-steps li {
    display: inline-block;
    vertical-align: top;
    min-width: 50px;
    max-width: 100px;
}
html .wizard-progress .wizard-steps li a,
html.dark .wizard-progress .wizard-steps li a {
    position: relative;
    display: block;
    padding: 25px 8px 0;
    font-size: 11px;
    color: #33333f;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    word-break: break-all;
}
html .wizard-progress .wizard-steps li a span,
html.dark .wizard-progress .wizard-steps li a span {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    background: #cccccc;
    color: white;
    line-height: 26px;
    text-align: center;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 35px;
    font-size: 13px;
    text-indent: -1px;
    border: 2px solid #cccccc;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
    background: #cccccc;
    color: white;
}
html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
    background: white;
    color: #cccccc;
    border-color: #cccccc;
}
html .wizard-progress .wizard-steps li.completed.active a span,
html.dark .wizard-progress .wizard-steps li.completed.active a span {
    color: #FFF;
}
html .wizard-progress.wizard-progress-lg,
html.dark .wizard-progress.wizard-progress-lg {
    margin: 0 auto 30px;
    width: 80%;
}
html .wizard-progress.wizard-progress-lg .steps-progress,
html.dark .wizard-progress.wizard-progress-lg .steps-progress {
    margin: 0 52px;
    height: 4px;
    top: 34px;
}
html .wizard-progress.wizard-progress-lg .wizard-steps,
html.dark .wizard-progress.wizard-progress-lg .wizard-steps {
    padding-top: 30px;
}
html .wizard-progress.wizard-progress-lg ul li,
html.dark .wizard-progress.wizard-progress-lg ul li {
    max-width: 135px;
}
html .wizard-progress.wizard-progress-lg ul li a,
html.dark .wizard-progress.wizard-progress-lg ul li a {
    padding-top: 40px;
    font-size: 14px;
}
html .wizard-progress.wizard-progress-lg ul li a span,
html.dark .wizard-progress.wizard-progress-lg ul li a span {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 60px;
    line-height: 52px;
    font-size: 22px;
    border-width: 4px;
}

html.dark .wizard-progress .wizard-steps li a {
    color: #808697;
}
html.dark .wizard-progress.wizard-progress ul li a span {
    background: #242830;
    border-color: #242830;
}
html.dark .wizard-progress .wizard-steps li.active a span {
    background: #242830;
}
html.dark .wizard-progress .steps-progress {
    background: #242830;
}

@media only screen and (max-width: 991px) {
    html .wizard-progress, html .wizard-progress.wizard-progress-lg, html.dark .wizard-progress, html.dark .wizard-progress.wizard-progress-lg {
        width: auto;
        margin-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
    html .wizard-progress .steps-progress, html.dark .wizard-progress .steps-progress {
        display: none;
    }
    html .wizard-progress .wizard-steps, html.dark .wizard-progress .wizard-steps {
        display: block;
        font-size: 0;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        width: 100%;
    }
    html .wizard-progress .wizard-steps li, html.dark .wizard-progress .wizard-steps li {
        -webkit-transition: margin 0.5s linear;
        -moz-transition: margin 0.5s linear;
        transition: margin 0.5s linear;
        display: inline-block;
        float: none;
        position: relative;
        width: 100%;
        min-width: 0;
        max-width: none;
    }
    html .wizard-progress .wizard-steps li a, html.dark .wizard-progress .wizard-steps li a {
        position: relative;
        z-index: 2;
    }
    html .wizard-progress .wizard-steps li:before, html .wizard-progress .wizard-steps li:after, html.dark .wizard-progress .wizard-steps li:before, html.dark .wizard-progress .wizard-steps li:after {
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        top: 0;
        width: 50%;
    }
    html .wizard-progress .wizard-steps li:before, html.dark .wizard-progress .wizard-steps li:before {
        background: #cccccc;
        left: 0;
    }
    html .wizard-progress .wizard-steps li:after, html.dark .wizard-progress .wizard-steps li:after {
        background: #cccccc;
        right: 0;
    }
    html .wizard-progress .wizard-steps li.active, html.dark .wizard-progress .wizard-steps li.active {
        margin-left: 0;
    }
    html .wizard-progress .wizard-steps li.completed, html.dark .wizard-progress .wizard-steps li.completed {
        margin-left: -100%;
    }
    html .wizard-progress .wizard-steps li.completed:after, html.dark .wizard-progress .wizard-steps li.completed:after {
        background: #cccccc;
    }
    html .wizard-progress .wizard-steps li.completed.active, html.dark .wizard-progress .wizard-steps li.completed.active {
        margin-left: 0;
    }
    html .wizard-progress .wizard-steps li:first-child:before, html.dark .wizard-progress .wizard-steps li:first-child:before {
        display: none;
    }
    html .wizard-progress .wizard-steps li:last-child:after, html.dark .wizard-progress .wizard-steps li:last-child:after {
        display: none;
    }
    html .wizard-progress.wizard-progress-lg .wizard-steps li, html.dark .wizard-progress.wizard-progress-lg .wizard-steps li {
        min-width: 0;
        max-width: none;
    }
    html .wizard-progress.wizard-progress-lg .wizard-steps li:before, html .wizard-progress.wizard-progress-lg .wizard-steps li:after, html.dark .wizard-progress.wizard-progress-lg .wizard-steps li:before, html.dark .wizard-progress.wizard-progress-lg .wizard-steps li:after {
        height: 4px;
    }
}


html .wizard-progress .wizard-steps li.active a span, html.dark .wizard-progress .wizard-steps li.active a span {
    color: #0088cc;
    border-color: #0088cc;
}
html .wizard-progress .wizard-steps li.active a span, html.dark .wizard-progress .wizard-steps li.active a span {
    color: #0088cc;
    border-color: #0088cc;
}




















/* Notification */
.ui-pnotify {
    right: 15px;
    top: 15px;
}

.ui-pnotify .notification {
    border-radius: 5px;
    box-shadow: none;
    padding: 15px 15px 15px 75px;
}

.ui-pnotify .notification .ui-pnotify-icon {
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
    text-align: center;
}

.ui-pnotify .notification .ui-pnotify-icon > span {
    border: 2px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    float: none;
    font-size: 35px;
    height: 50px;
    line-height: 48px;
    margin: 8px 0 0;
    padding: 0;
    width: 50px;
    text-align: center;
}

.ui-pnotify .notification .ui-pnotify-title {
    font-size: 14px;
    letter-spacing: 0;
}

.ui-pnotify .notification .ui-pnotify-text {
    font-size: 12px;
    line-height: 1.3em;
}

.ui-pnotify .notification.notification-danger .ui-pnotify-icon > span.fa-times {
    line-height: 47px;
}

.ui-pnotify .ui-pnotify-shadow {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.ui-pnotify.ui-pnotify-no-icon .notification {
    padding-left: 15px;
}

.ui-pnotify .ui-pnotify-sharp {
    border-radius: 0;
}

body .ui-pnotify.icon-nb .notification .ui-pnotify-icon > span {
    border-color: transparent;
    border-radius: 0;
}

.ui-pnotify.stack-bar-top {
    right: 0;
    top: 0;
}

.ui-pnotify.stack-bar-top .notification {
    border-radius: 0;
}

.ui-pnotify.stack-bar-top .notification .ui-pnotify-icon > span {
    margin-top: 7px;
}

.ui-pnotify.stack-bar-bottom {
    bottom: 0;
    left: auto;
    margin-left: 15%;
    right: auto;
    top: auto;
}

.ui-pnotify.stack-bar-bottom .notification {
    border-radius: 0;
}

.ui-pnotify.stack-bar-bottom .notification .ui-pnotify-icon > span {
    margin-top: 9px;
}

.ui-pnotify.click-2-close {
    cursor: pointer;
}

/* Notification States */
.ui-pnotify .notification-primary {
    background: rgba(204, 204, 204, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify .notification-primary .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.stack-bar-top .notification-primary, .ui-pnotify.stack-bar-bottom .notification-primary {
    background: #cccccc;
}

.ui-pnotify.notification-primary .notification,
.ui-pnotify.notification-primary .notification-primary {
    background: rgba(204, 204, 204, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-primary .notification .ui-pnotify-icon > span,
.ui-pnotify.notification-primary .notification-primary .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-primary.stack-bar-top .notification,
.ui-pnotify.notification-primary.stack-bar-top .notification-primary, .ui-pnotify.notification-primary.stack-bar-bottom .notification,
.ui-pnotify.notification-primary.stack-bar-bottom .notification-primary {
    background: #cccccc;
}

.ui-pnotify .notification-success {
    background: rgba(71, 164, 71, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify .notification-success .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.stack-bar-top .notification-success, .ui-pnotify.stack-bar-bottom .notification-success {
    background: #47a447;
}

.ui-pnotify.notification-success .notification,
.ui-pnotify.notification-success .notification-success {
    background: rgba(71, 164, 71, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-success .notification .ui-pnotify-icon > span,
.ui-pnotify.notification-success .notification-success .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-success.stack-bar-top .notification,
.ui-pnotify.notification-success.stack-bar-top .notification-success, .ui-pnotify.notification-success.stack-bar-bottom .notification,
.ui-pnotify.notification-success.stack-bar-bottom .notification-success {
    background: #47a447;
}

.ui-pnotify .notification-warning {
    background: rgba(237, 156, 40, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify .notification-warning .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.stack-bar-top .notification-warning, .ui-pnotify.stack-bar-bottom .notification-warning {
    background: #ed9c28;
}

.ui-pnotify.notification-warning .notification,
.ui-pnotify.notification-warning .notification-warning {
    background: rgba(237, 156, 40, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-warning .notification .ui-pnotify-icon > span,
.ui-pnotify.notification-warning .notification-warning .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-warning.stack-bar-top .notification,
.ui-pnotify.notification-warning.stack-bar-top .notification-warning, .ui-pnotify.notification-warning.stack-bar-bottom .notification,
.ui-pnotify.notification-warning.stack-bar-bottom .notification-warning {
    background: #ed9c28;
}

.ui-pnotify .notification-danger {
    background: rgba(210, 50, 45, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify .notification-danger .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.stack-bar-top .notification-danger, .ui-pnotify.stack-bar-bottom .notification-danger {
    background: #d2322d;
}

.ui-pnotify.notification-danger .notification,
.ui-pnotify.notification-danger .notification-danger {
    background: rgba(210, 50, 45, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-danger .notification .ui-pnotify-icon > span,
.ui-pnotify.notification-danger .notification-danger .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-danger.stack-bar-top .notification,
.ui-pnotify.notification-danger.stack-bar-top .notification-danger, .ui-pnotify.notification-danger.stack-bar-bottom .notification,
.ui-pnotify.notification-danger.stack-bar-bottom .notification-danger {
    background: #d2322d;
}

.ui-pnotify .notification-info {
    background: rgba(91, 192, 222, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify .notification-info .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.stack-bar-top .notification-info, .ui-pnotify.stack-bar-bottom .notification-info {
    background: #5bc0de;
}

.ui-pnotify.notification-info .notification,
.ui-pnotify.notification-info .notification-info {
    background: rgba(91, 192, 222, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-info .notification .ui-pnotify-icon > span,
.ui-pnotify.notification-info .notification-info .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-info.stack-bar-top .notification,
.ui-pnotify.notification-info.stack-bar-top .notification-info, .ui-pnotify.notification-info.stack-bar-bottom .notification,
.ui-pnotify.notification-info.stack-bar-bottom .notification-info {
    background: #5bc0de;
}

.ui-pnotify .notification-dark {
    background: rgba(23, 23, 23, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify .notification-dark .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.stack-bar-top .notification-dark, .ui-pnotify.stack-bar-bottom .notification-dark {
    background: #171717;
}

.ui-pnotify.notification-dark .notification,
.ui-pnotify.notification-dark .notification-dark {
    background: rgba(23, 23, 23, 0.95);
    color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-dark .notification .ui-pnotify-icon > span,
.ui-pnotify.notification-dark .notification-dark .ui-pnotify-icon > span {
    border-color: rgba(255, 255, 255, 0.7);
}

.ui-pnotify.notification-dark.stack-bar-top .notification,
.ui-pnotify.notification-dark.stack-bar-top .notification-dark, .ui-pnotify.notification-dark.stack-bar-bottom .notification,
.ui-pnotify.notification-dark.stack-bar-bottom .notification-dark {
    background: #171717;
}

/* Notification Responsive */
@media only screen and (max-width: 767px) {
    html > body > .ui-pnotify {
        bottom: auto !important;
        left: 0 !important;
        margin: 0 !important;
        right: 0 !important;
        top: 60px !important;
        width: auto !important;
    }

    html > body > .ui-pnotify .notification {
        border-radius: 0 !important;
        height: auto !important;
        position: static !important;
        width: 100%;
    }

    html > body > .ui-pnotify .notification .ui-pnotify-title,
    html > body > .ui-pnotify .notification .ui-pnotify-text {
        padding-right: 35px !important;
    }

    html > body > .ui-pnotify .notification .ui-pnotify-sticker {
        display: none !important;
    }

    html > body > .ui-pnotify .notification .ui-pnotify-closer {
        display: block !important;
        font-size: 24px !important;
        visibility: visible !important;
    }
}
