@CHARSET "UTF-8";

/*Override spring security error message*/

.s2ui_error {
    border-color: #ebccd1;
    color: #a94442;
}

.parallax_message {
	background: url('img/parallax.jpg');
}

.parallax_transparent {
	background: url('img/parallax-transparent.jpg');
}

.no-list-stype li{
    list-style-type: none;
}

.timestamp {
    float: right;
    font-size: 13px;
}
.secondaryColor{
    color:rgb(6, 72, 134) !important;
}

@-webkit-keyframes animateLoader {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(220deg);
    }
}

@-moz-keyframes animateLoader {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(220deg);
    }
}

@keyframes animateLoader {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(220deg);
        -moz-transform: rotate(220deg);
        -ms-transform: rotate(220deg);
        -o-transform: rotate(220deg);
        transform: rotate(220deg);
    }
}

@-webkit-keyframes animateLoaderAfterWhite {
    0% {
        box-shadow: 0 0 0 6px #FFF inset;
        -webkit-transform: rotate(-140deg);
    }

    50% {
        box-shadow: 0 0 0 2px #FFF inset;
    }

    100% {
        box-shadow: 0 0 0 6px #FFF inset;
        -webkit-transform: rotate(140deg);
    }
}

@-moz-keyframes animateLoaderAfterWhite {
    0% {
        box-shadow: 0 0 0 6px #FFF inset;
        -moz-transform: rotate(-140deg);
    }

    50% {
        box-shadow: 0 0 0 2px #FFF inset;
    }

    100% {
        box-shadow: 0 0 0 6px #FFF inset;
        -moz-transform: rotate(140deg);
    }
}

@keyframes animateLoaderAfterWhite {
    0% {
        box-shadow: 0 0 0 6px #FFF inset;
        -webkit-transform: rotate(-140deg);
        -moz-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
        -o-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }

    50% {
        box-shadow: 0 0 0 2px #FFF inset;
    }

    100% {
        box-shadow: 0 0 0 6px #FFF inset;
        -webkit-transform: rotate(140deg);
        -moz-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
        -o-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}

@-webkit-keyframes animateLoaderAfterBlack {
    0% {
        box-shadow: 0 0 0 6px #000 inset;
        -webkit-transform: rotate(-140deg);
    }

    50% {
        box-shadow: 0 0 0 2px #000 inset;
    }

    100% {
        box-shadow: 0 0 0 6px #000 inset;
        -webkit-transform: rotate(140deg);
    }
}

@-moz-keyframes animateLoaderAfterBlack {
    0% {
        box-shadow: 0 0 0 6px #000 inset;
        -moz-transform: rotate(-140deg);
    }

    50% {
        box-shadow: 0 0 0 2px #000 inset;
    }

    100% {
        box-shadow: 0 0 0 6px #000 inset;
        -moz-transform: rotate(140deg);
    }
}

@keyframes animateLoaderAfterBlack {
    0% {
        box-shadow: 0 0 0 6px #000 inset;
        -webkit-transform: rotate(-140deg);
        -moz-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
        -o-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }

    50% {
        box-shadow: 0 0 0 2px #000 inset;
    }

    100% {
        box-shadow: 0 0 0 6px #000 inset;
        -webkit-transform: rotate(140deg);
        -moz-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
        -o-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}

.loading-overlay-showing {
    overflow: hidden;
}

.loading-overlay-showing > .loading-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
}

.loading-overlay {
    -webkit-transition: visibility 0s ease-in-out 0.5s, opacity 0.5s ease-in-out;
    -moz-transition: visibility 0s ease-in-out 0.5s, opacity 0.5s ease-in-out;
    transition: visibility 0s ease-in-out 0.5s, opacity 0.5s ease-in-out;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    visibility: hidden;
}

.loading-overlay.dark {
    background: #1d2127;
}

.loading-overlay.light {
    background: #FFF;
}

.loading-overlay .loader {
    -webkit-animation: animateLoader 1s linear infinite;
    -moz-animation: animateLoader 1s linear infinite;
    animation: animateLoader 1s linear infinite;
    clip: rect(0, 30px, 30px, 15px);
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 30px;
}

.loading-overlay .loader.white:after {
    -webkit-animation: animateLoaderAfterWhite 1s ease-in-out infinite;
    -moz-animation: animateLoaderAfterWhite 1s ease-in-out infinite;
    animation: animateLoaderAfterWhite 1s ease-in-out infinite;
}

.loading-overlay .loader.black:after {
    -webkit-animation: animateLoaderAfterBlack 1s ease-in-out infinite;
    -moz-animation: animateLoaderAfterBlack 1s ease-in-out infinite;
    animation: animateLoaderAfterBlack 1s ease-in-out infinite;
}

.loading-overlay .loader:after {
    border-radius: 50%;
    clip: rect(0, 30px, 30px, 15px);
    content: '';
    height: 30px;
    position: absolute;
    width: 30px;
}

body > .loading-overlay {
    position: fixed;
    z-index: 999999;
}