@CHARSET "UTF-8";

/*Override spring security error message*/

.s2ui_error {
    border-color: #ebccd1;
    color: #a94442;
}

.parallax_message {
	background: url('img/parallax.jpg');
}

.parallax_transparent {
	background: url('img/parallax-transparent.jpg');
}